.how-works-section {
  background-color: var(--background);
}
@media (max-width: 600px) {
  .how-works-section {
    padding: 20px 10px;
  }
 
}
@media (max-width: 1000px) {
 
  .how-title{
    align-items: center !important;
    justify-content: center !important;
  }
}
