.register-form{
    background-color:#1e1e1edf;
}
.register-sec{
    background-image: url("../../../public/Images/bg1.png");
}
.gold-border{
    border: 1px solid;
    border-image-source: linear-gradient(180deg,#f9e498,#d4af37,#1a1a1a);
    border-image-slice: 1;
}
@media (max-width:400px) {
    .register-form{
        width: 100%;
    }
}