.category-component {
  background-color: var(--card);
  color: var(--title-span);
  border: 0.1rem solid rgb(55, 55, 55);
  width: 22%;
}
.category-component:hover {
  border: 1px solid #dfaf37;
  transition: 1s;
  box-shadow: 2px 2px 20px 2px #dfaf37;
}
@media (max-width: 1000px) {
  .category-component {
    width: 100%;
  }
}
