.btn-1{

background:var(--gradient-gold) !important;
color:black ;
}
.btn-2{
    
background:var(--color-black) !important;
color: white;
}
.btn-3{
color:var(--title-span) ;
border: 1px solid var(--title-span);
border-radius: 50px;
;

}