.homeHeroSection {
  height: 85vh;
  background-image: url("../../../public/Images/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.layer {
  height: 85vh;
  background-color: rgba(0, 0, 0, 0.757);
}
.hero-content {
  z-index: 100;
}
.no-portfolio {
  background-color: var(--card);
  border: 0.1rem solid rgb(55, 55, 55);
}
@media (max-width: 1000px) {
  .search-result-sec {
    top: 0.2%;
    right: 5%;
    padding: 50px 10px;
  }

}
