.social-form {
  background-color: #1e1e1edf;
}
.social-form h3 {
  color: var(--title-span);
}

@media (max-width: 500px) {
  .padding-sm {
    padding: 10px 30px;
  }
  .social-form {
    padding: 30px 15px;
    width: 100%;
  }
  .sm-btn {
    width: 100%;
    padding: 10px 0px;
  }
}
