.skills-form {
  background-color: #1e1e1edf;
}
.skills-form h3 {
  color: var(--title-span);
}
@media (max-width: 500px) {
  
  .sm-btn {
    width: 100%;
    padding: 10px 0px;
  }
  .skills-form {
    padding: 30px 15px;
  }
}

@media (max-width: 500px) {
  .skills-form {
    width: 100%;
  }
}
