@media (max-width: 500px) {
  .experience-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
 .sm-btn{
  width: 100%;
  padding: 10px 0px;
 }
  .experience-form {
    padding: 30px 15px;
  }
}
