.menu-nav {
  background-color: var(--background) !important;
  z-index: 200;
}

.open {
  display: block;
  padding: 10px;
  margin-top: 390px;
  background-color: var(--background);
  border-radius: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.li-menu {
  color: var(--text1);
}
.active {
  background: var(--gradient-gold) !important;
  color: var(--background);
  border-radius: 2%;
  padding: 5px;
}
.log-out-btn {
  cursor: pointer;
  text-decoration: underline;
}
.display-none-icon {
  display: none;
}
@media (max-width: 1200px) {
  .display-none {
    display: none;
  }
  .display-none-icon {
    display: block !important;
  }
  .menu-nav {
    height: 80px;
  }
  .logo{
    margin-top: 10px ;
 
  }
}
