.personal-form {
  background-color: #1e1e1edf;
}
.personal-form h3 {
  color: var(--title-span);
}

@media (max-width: 500px) {
 .sm-btn {
    width: 100%;
    padding: 10px 0px;
  }
  .personal-form{
    padding:30px 15px;
      width: 100%;
  }
}
