.personal-form {
  background-color: #1e1e1edf;
}
.personal-form h3 {
  color: var(--title-span);
}
@media (max-width: 500px) {
  .personal-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .padding-sm{
   padding:10px 30px
  }
  .personal-form{
    padding:30px 15px
  }
}
