.footer {
  background-color: var(--background);
}
.icons-footer {
  color: var(--title-span);
}
.develop-text {
  color: var(--title-span);
}
.copy-all-rights{
 background-color: var(--card);
 color: var(--title-span);
}