.project-form h3 {
  color: var(--title-span);
}
@media (max-width: 500px) {
  .project-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .sm-btn {
    width: 100%;
    padding: 10px 0px;
  }
  .project-form {
    padding: 30px 15px;
  }
}
