
.project-form h3{
    color: var(--title-span);
}
@media (max-width: 500px) {
  .project-form {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .padding-sm{
   padding:10px 30px
  }
   .project-form{
    padding:30px 15px
  }
}
